
 	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
 	
 	<h1>Заказы</h1>

    <p>Контент сайта</p>
    <p>Все содержимое рендерить в <code>#page-content-wrapper</code>.</p>
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Показать/Убрать Меню</a>