        <!-- Sidebar -->
        
        <div id="sidebar-wrapper">

        
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Service Mamager
                    </a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-inbox"></span> &ensp; Заказы</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-usd"></span> &ensp; Кассы</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> &ensp; Магазин</a>
                </li>
                <li>

                    <a href="#"><span class="glyphicon glyphicon-barcode"></span> &ensp; Склад</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-user"></span> &ensp; Клиенты</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-tasks"></span> &ensp; Отчеты</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-cog"></span> &ensp; Настройки</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->